# Default ignored files
/shelf/
/workspace.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

# I used to be a proponent of checking in .idea but I've totally lost track of what makes sense to share.
*
!/runConfigurations
!/runConfigurations/*
